Package: rhasspy-lisa-odas-hermes
Version: ${version}
Section: utils
Priority: optional
Depends: alsa-utils
Architecture: ${architecture}
Maintainer: Lawrence Iviani
Description: Hermes MQTT service for Rhasspy ODAS Lisa multi channel receiver
